.App {
  text-align: center;
  background: beige;
  #height: 100vh;
  position: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App .header {
  height: 40px;
  font-size: 20px;
  color: #fffdd0;
}
.App .header .refresh{
  font-size: 30px;
  margin-left: 10px;
  color: #fffdd0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.RATP{
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#zone_meteo {
  margin: 5px;
}
#humidite, #vent, #temperature{
  font-size: 20px;
  color: #fff;
}


.ratpLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
